<div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        Copyright © 2021 Aalto University &nbsp; &nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="text-md-right footer-links d-none d-sm-block">
                            code width <i class="m-r-10 mdi mdi-heart"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
