{% with url as baseurl %}
<nav style="margin: 0 auto">
    <ul class="pagination">
        {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="{{ baseurl }}?page={{ page_obj.previous_page_number }}{% if request.GET.keyword %}&keyword={{ request.GET.keyword }}{% endif %}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
        {% endif %}
    {% for page in paginator.page_range %}
        {% if page == page_obj.number %}
            <li class="page-item"><a class="page-link" href="{{ baseurl }}?page={{ page }}{% if request.GET.keyword %}&keyword={{ request.GET.keyword }}{% endif %}">{{ page }}</a></li>
        {% else %}
    <li><a class="page-link" href="{{ baseurl }}?page={{ page }}{% if request.GET.keyword %}&keyword={{ request.GET.keyword }}{% endif %}">{{ page }}</a></li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}

        <li class="page-item">
      <a class="page-link" href="{{ baseurl }}?page={{ page_obj.next_page_number }}{% if request.GET.keyword %}&keyword={{ request.GET.keyword }}{% endif %}{{ baseurl }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
</ul>
</nav>
{% endwith %}
