{# url #}
{% url 'device:list' as d_list %}
{% url 'device:add' as d_add %}
{% url 'device:addmaintenancerecord' as m_add %}
{% url 'device:r_add' as d_r_add %}

{% url 'regularwork:add' as r_add %}
{% url 'regularwork:list' as r_list %}

{% url 'hidden_danger:list' as h_list %}

{% url 'task:list' as t_list %}


<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">
                        
                    </li>


                </ul>
            </div>
        </nav>
    </div>
</div>
